@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Open+Sans:wght@500&family=Roboto+Slab:wght@200;400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&family=Open+Sans:wght@500&family=Roboto+Slab:wght@200;400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Sen&display=swap');


*{
    font-family: Circular, Roboto, Helvetica Neue, sans-serif;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration-line: none;
    color: black;
}

/* RESPONSIV */

.header_content_left_logo_responsive{
    display: none;
}


/* HEADER START THERE */

header{
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    position: sticky;
    background-color: white;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
}

.header_content_left{
    width: 30%;
}

.header_content{
    padding-left: 200px;
    padding-right: 215px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.header_content_medium{
    width: 25%;
}

.header_content_medium_content{
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    padding: 8px;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.2s;
}

.header_content_medium_content:hover{
    transition: transform 250ms ease, opacity 100ms ease,visibility 0ms 50ms;
    transform: scale(1,1) translateY(0);
    scale: 1;
    cursor: pointer;
}

.header_content_medium_content button{
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 500;
}

.button{
    padding: 0 10px;
}

.search_icon{
    background-color: #ff385c;
    border-radius: 50%;
    padding: 10px;
}

.header_content_medium_content span{
    background-color: #DDDDDD;
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
}

.header_content_right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 26%;
}


.header_content_right button{
    display: flex;
    align-items: center;
}

.header_content_right_home a{
    font-size: 14px;
    font-weight: 500;
}

.header_content_right_home_country button{
    background: transparent;
    border: 0;
    cursor: pointer;
}

.login_button{
    background: transparent;
    cursor: pointer;
    margin: 0;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    padding: 5px 5px 5px 12px;
    transition: 0.2s;
}

.login_button:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
}

.header_content_right_home_user{
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    margin-left: 12px;
}

/* MAIN HOTEL SECTION CSS THERE*/

.hotel_content{
    padding-left: 200px;
    padding-right: 215px;
}

.hotel_content_info{
    padding-top: 24px;
}

.hotel_content_info_name{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.hotel_content_info_name svg{
    margin-right: 12px;
}

.hotel_content_info_name h1{
    font-size: 26px;
    font-weight: 500;
}

.hotel_content_info_other,
.hotel_content_info_other_right,
.hotel_content_info_other_right button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel_content_info_other_left{
    font-size: 14px;
    font-weight: 600;
}

.hotel_content_info_other_left button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
}

.status{
    font-weight: 400;
}

.hotel_content_info_other_right button{
    transition: box-shadow 0.2s ease,transform 0.1s ease;
    border: none;
    background: transparent;
    padding: 8px;
}

.hotel_content_info_other_right button span{
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 500;
}

.hotel_content_picture{
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hotel_content_picture_left{
    width: 49%;
}

.hotel_content_picture img{
    width: 100%;
}

.hotel_content_picture_right{
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel_content_picture_right div{
    width: 24.9%;
}

/* MAIN HOMEINFO SECTION CSS THERE */

.homeInfo{
    padding-left: 215px;
    padding-right: 200px;
}

.homeInfo_content{
    padding: 48px 0;
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.homeInfo_content_left{
    width: 57%;
}

.left_dates,
.left_property{
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: 1px solid darkgray;
}

.left_properties{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.left_properties_item{
    width: 48%;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.left_properties_item{
    font-weight: 400;
    font-size: 16px;
}

.left_property_button{
    margin-top: 24px;
}

.left_property_button button{
    border-radius: 8px;
    border: 1px solid black;
    transition: box-shadow 0.2s ease,transform 0.1s ease;
    background: white;
    font-weight: 500;
    padding: 13px 23px;
}

.left_properties_item svg{
    margin-right: 16px;
}

.left_dates_header h2,
.left_property h2{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}

.left_dates_header h6{
    font-size: 14px;
    line-height: 18px;
    font-weight: 350;
    color: rgb(113, 113, 113);
    margin-bottom: 12px;
}

.left_dates_calendar{
    display: flex;
    justify-content: space-between;
}

.jsCalendar table{
    box-shadow: none;
}

.left_dates_button{
    margin-top: 8px;
    text-align: right;
}

.left_dates button{
    text-decoration: underline;
    padding: 8px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-left: -8px;
    margin-right: -8px;
}

.homeInfo_content_right{
    padding-top: 48px;
    width: 33%;
    position: relative;
}

.homeInfo_content_right_reserve{
    position: sticky;
    bottom: 48px;
    right: 0;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.homeInfo_content_right_reserve_info{
    margin-top: 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.homeInfo_content_right_reserve_info p{
    font-weight: 300;
    margin-right: 8px;
    font-size: 16px;
    line-height: 20px;
}

.homeInfo_content_right_reserve_info p span{
    font-weight: 500;
}

.right_reserve{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.left span:nth-child(1){
    color: rgb(113, 113, 113);
    text-decoration: line-through;
    font-weight: 500;
    font-size: 22px;
}

.left span:nth-child(2){
    color: black;
    font-weight: 600;
    font-size: 22px;
}

.left span:nth-child(3){
    color: black;
    font-weight: 400;
    font-size: 14px;
}

.right span{
    color: rgb(34, 34, 34);
    padding-left: 4px;
    font-weight: 600;
    font-size: 14px;
}

.right a{
    text-decoration: underline;
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeInfo_content_right_reserve button{
    margin-top: 16px;
    width: 100%;
    opacity: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    padding: 12px 24px;
    border: none;
    color: white;
    background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    font-size: 16px;
    font-weight: 500;
}

.homeInfo_content_right_reserve p{
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 350;
    text-align: center;
}

/* MAIN COMMENT SECTION THERE */

.comment_content{
    padding: 48px 216px 48px 200px;
    margin-bottom: 1px solid darkgray;
}

.comment_content h2{
    font-size: 22px;
    margin-bottom: 32px;
}

.comment_content h2 svg{
    margin-right: 8px;
}

.comment_content_points{
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comment_content_points_item{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 43%;
}

.comment_content_points_item h5{
    font-size: 16px;
    font-weight: 400;
}

.item_points{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item_points div {
    position: relative;
    height: 4px;
    width: 90%;
    margin-right: 12px;
    background: rgb(221, 221, 221);
    border-radius: 2px;
}

.item_points div span{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: rgb(34, 34, 34);
    border-radius: 2px;
}

.comment_content_profils{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.comment_content_profil{
    width: 41.6667%;
    margin-right: 8.33333%;
    margin-bottom: 40px;

}

.comment_content_profil_name{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.comment_content_profil_name div h3{
    font-size: 16px;
    line-height: 20px;
}

.comment_content_profil_name div h6{
    color: rgb(113, 113, 113);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.comment_content_profil_name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.comment_content_profil p{
    line-height: 24px;
    font-size: 16px;
}

/* MAIN WHERE SECTION MAP ARTICLE */

.where{
    padding: 48px 215px 48px 200px;
}

.where_map{
    padding-bottom: 48px;
    border-bottom: 1px solid darkgray;
}

.where_map h2{
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 26px;
}

.where_map img{
    width: 100%;
    margin-bottom: 32px;
}

.where_map h3{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
}

.where_map p,
.where_host_body_left p{
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 16px;
}

.where_map button,
.where_host_body_left button,
.where_rule_body_item button{
    margin-top: 16px;
    border: none;
    background: transparent;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 500;
}

/* MAIN WHERE SECTION WHERE HOST ARTICLE */

.where_host{
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid darkgray;
}

.where_host_header{
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.where_host_header img{
    margin-right: 16px;
    width: 64px;
    height: 64px;
}

.where_host_header h2,
.where_rule h2{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 12px;
}

.where_host_header p{
    color: #717171;
}

.where_host_body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.where_host_body_left{
    width: 42%;
}

.where_host_body_left ul{
    display: flex;
    margin-bottom: 12px;
}

.where_host_body_left ul li{
    display: flex;
    align-items: center;
    padding-right: 12px;
}

.where_host_body_left ul li span{
    margin-left: 8px;
    font-size: 16px;
    line-height: 20px;
} 

.where_host_body_right{
    width: 50%;
}

.where_host_body_right ul{
    margin-bottom: 48px;
}

.where_host_body_right ul li{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 20px;
}

.where_host_body_right a,
.comment_content a{
    display: block;
    width: 45%;
    border-radius: 8px;
    border: 1px solid black;
    padding: 16px;
}

.where_host_body_right_info{
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.where_host_body_right_info svg{
    margin-right: 16px;
}

.where_host_body_right_info p{
    width: 50%;
    font-size: 12px;
    line-height: 16px;
}

/* MAIN WHERE SECTION WHERE_RULE ARTICLE */

.where_rule{
    padding-top: 48px;
}

.where_rule_body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.where_rule_body_item{
    width: 33%;
}

.where_rule_body_item h3{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
}

.where_rule_body_item p{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
}

/* MAIN SECTION kissonerga  */

.kissonerga{
    background-color: #F7F7F7;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgrey;
}

.kissonerga_content{
    padding: 48px 216px 28px 200px;
}

.kissonerga_content h2{
    margin-bottom: 36px;
    font-size: 22px;
}

.kissonerga_content_body{
    display: flex;
    flex-flow: row wrap;
}

.kissonerga_content_body div{
    width: 25%;
    padding: 8px;
}

.kissonerga_content_body div span{
    color: #717171;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.kissonerga_content_footer{
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.kissonerga_content_footer span{
    color: rgb(72, 72, 72);
    font-size: 14px;
    padding: 0 5px;
}


/* FOOTER */

footer{
    padding: 14px 216px 14px 200px;
    background-color: #F7F7F7;
}

.footer_content{
    overflow: clip;
    height: fit-content;
    max-height: 80vh;
    width: 100%;
    padding-right: 17px;
}

.footer_content_detailes{
    width: 100%;
    display: flex;
    margin-top: 25px;
    padding-bottom: 50px;
    border-bottom: 1px solid #DDDDDD;
}

.footer_content_detailes section {
    padding-right: 12px;
    width: 24.8%;
    margin-right: 70px;
}

.footer_content_detailes section div{
    margin-left: 5px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 18px;
}

.footer_content_detailes li{
    margin-top: 16px;
    font-weight: 300;
}

.footer_end_content,
.footer_end_content_left,
.footer_end_content_left ol,
.footer_end_content_right,
.footer_end_content_right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_end_content{
    padding: 25px 0;
}

.footer_end_content span, button, li{
    color: #222222;
    font-size: 14px;
    line-height: 18px;
    padding-right: 5px;
    padding-left: 5px;
}

.footer_end_content_right button{
    display: flex;
    align-items: center;
    border: none;
    background-color: #F7F7F7;
    font-weight: 500;
}